<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>56075048814-dqj31us674v9jofrvuhgct02i2biunv4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.56075048814-dqj31us674v9jofrvuhgct02i2biunv4</string>
	<key>API_KEY</key>
	<string>AIzaSyB-6EphZp2zOZRbWeKdrFS8kEfi-ycMDlE</string>
	<key>GCM_SENDER_ID</key>
	<string>56075048814</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ArvydasKlimavicius.FirebaseAplha</string>
	<key>PROJECT_ID</key>
	<string>fir-alpha-89f15</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-alpha-89f15.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:56075048814:ios:f0f9d87ad41c918f34537f</string>
	<key>DATABASE_URL</key>
	<string>https://fir-alpha-89f15.firebaseio.com</string>
</dict>
</plist>